<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/smartcarlog-master/src/main/java/com/bigdata2017/smartcar/GenDrivingLog.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bigdata2017.smartcar.GenDrivingLog"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="smartcarlog-master"/>
</launchConfiguration>
